//Used for header, and footer.
$primaryColor: #c0fdfb;

//Used for the navigation background.
$navigationColor: #daffef;

//Used for the a: in navigation.
$highlightColor: #64b6ac;

//Used for the div background. 
$divColor: #5d737e;

//Used for the text color within the dark div.
$textColor: #fcfeff;

//Used for the h1 tag. 
$h1Font: 'Gabriela', serif;

// Used for the h2, h3, and h4 tags. 
$otherHFont: 'Oswald', sans-serif;

// Used for the paragraphs.
$paragraphFont: 'Open Sans', sans-serif;